
<!DOCTYPE html> 
<html lang=en> 

    <head>
    <meta charset="utf-8">
    <title>Python Programing Tutoria</title>
    <meta content="width=device-width,initial-scale=1" name=viewport> 
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    
    
    <style>
		@media (min-width:992px) {
		#aside {
			width:250px;
		}
		pre { tab-size: 4;}
		.btn {background-color:#FFD166;
			  color:#000;
		      height:auto;
			  font-color:#000;
			  }
		.btn:hover {background-color:#FFD166;
					}


    </style>
        
    </head>

<header>
    <div class="navbar-header">
    <a class="navbar-brand" rel="home" href="/" title="Python Programming Tutorials ">
        <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/mainlogo.png') }}">
    </a>
  </div>

  <div class="container-fluid">
	<ul class="nav nav-pills">
		<a href="/dashboard/"><button type="button" class="btn btn-primary" style=" margin-top: 5px; margin-bottom: 5px; height:44px; margin-right: 15px">
			<span class="glyphicon glyphicon-off"></span> Start Learning
		</button></a>
      <ul class="nav navbar-nav navbar-right">
	  {% if session.logged_in %}
		<div style="margin-right: 10px; margin-left: 15px;  margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
		<h5><a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Support&nbsp;&nbsp;&nbsp;</a>
		<a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></h5>
		</div>
	  {% else %}
	  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;" class="container-fluid">
		<h5><a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Support&nbsp;&nbsp;&nbsp;</a>
		<a href="/login/"> <span class="glyphicon glyphicon-log-in"></span> Login</a>&nbsp;&nbsp;&nbsp;
		<a href="/register/" ><span class="glyphicon glyphicon-pencil"></span> Sign up</a></h5>
	  </div>
	  {% endif %}
      </ul>
	</ul>
  </div>
</header>    
    
    <body>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
          <li role="presentation"><a href="#webdev" aria-controls="webedv" role="tab" data-toggle="tab">Web Dev</a></li>
          <li role="presentation"><a href="#">Data Analysis</a></li>
        </ul>
    <!-- BEGIN BASICS TAB -->    
        <div role="tabpanel"class="tab-pane fade in active" id="basics">
            </br>
            <h4>Basics</h4>
            <p>Going through all of the basics well best equip you to handle the largest array of problems that you may face, as well as helping you to pick up new topics along the way.</p>
        </div>
    <!-- END BASICS TAB -->
    
    <!-- BEGIN WEB TAB -->    
        <div role="tabpanel"class="tab-pane fade in active" id="webdev">
            </br>
            <h4>Web Dev</h4>
            <p>Flask and Django solve the same problems. Flask is a bit looser and more open-ended. It allows for you to both do things simply, and also do things incorrectly.</p>
			<p>Django is more "higher level" than Flask, meaning some things are simply not as easily customized. Django can be slightly more complex, as you're forced to understand Django in basically one way, yet you're more likely to do things the right way.</p>
			<p>The best choice is to make an attempt at both, and see which suits you best.</p>
        </div>
    <!-- END WEB TAB -->
    
    
    </body>
    
    <div class="footer-container" style="background-color: #ececec">
	<footer id="footer">
		<div class="border-row" style="width:100%; margin-bottom: 15px;"> </div>
		<div class="row">
		  <div class="col-md-2">
				<ul style="list-style-type: none;">
						<li><strong>About</strong></li>
						<li><a href="/about">Mission</a></li>
						<li><a href="/about/super-powers">What Python means to me</a></li>
						<li><a href="/about/technology">Technology</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/support-donate">Support / Donate</a></li>
						<li>&copy; 2015 Python Programming.</li>
						
				</ul>
				
		  </div>

		  <div class="col-md-1"> </div>
		  <div class="col-md-2">
			<ul style="list-style-type: none;">
		  
						<li><strong>Social</strong></li>
						<!--<li><a href="/blog">Blog</a></li>-->
						<li><a href="https://twitter.com/sentdex" target="_blank">Twitter</a></li>
						<li><a href="http://www.youtube.com/user/sentdex?sub_confirmation=1" target="_blank">YouTube</a></li>
						<li><a href="https://plus.google.com/+sentdex" target="_blank">Google+</a></li>

			</ul>
		  </div>
		  
		  <div class="col-md-1"> </div>
		  <div class="col-md-2"><ul style="list-style-type: none;">
					<li><strong>Legal</strong></li>
					<li><span><a href="/about/tos">Terms of Use</a></span></li>
					<li><span><a href="/about/privacy-policy">Privacy Notice (updated Jan 22, 2015)</a></span></li>
					
					
				</ul>
				</div>
		</div>

		</div>
	
	</footer>
</html>
