
<!DOCTYPE html> 
<html lang=en> 

    <head>
    <meta charset="utf-8">
    <title>Python Programing Tutoria</title>
    <meta content="width=device-width,initial-scale=1" name=viewport> 
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
     <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}"> 
    </head>

<header>
<div class="navbar-header">
      
      <a class="navbar-brand" href="/">
      <img style="max-width:120px;margin-top:-7px;" src="{{ url_for('static',filename='images/mainlogo.png') }}">
      </a>
    </div>
</header>    
    
</html>
